.link {
  margin-left: 30px;
  opacity: 1;
  position: fixed;
}

.items {
  margin-top: 20px;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
